

.destinos-calendario{
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 14px;

}
#DESTINOS{
    width: 50%;
}

#primeiraparte{
    display: inline-flex;
}

#apresentacao{
    padding-left: 14px;
    text-align: justify;
}

